.navbar-nav .nav-link,
.navbar-brand {
    color: white !important; /* Change text color to white */
}
/* Navbar link hover effect */
.navbar-nav .nav-link:hover {
    color: black !important; /* Change text color to light gray when hovered */
}

/* hero background image */
.bgimage {
    height: 100vh;
    background: url('images/hero_photo.jpeg');
    background-size:cover;
    position:relative;  
     
}
/* text css above hero image*/
.hero_title {
    font-size: 3.2rem;
    margin-left: 20px;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px grey;
}
.span-text {
    font-size: 2.8rem;
    text-shadow: 2px 2px grey;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
.navbarScroll.navbarDark {
    background-color: grey;    
}

.navbar-toggler-icon{
    color: white;
}
.btn-contact {
    background-color: #888 !important; 
    color: white !important; 
    font-size: 24px; 
    padding: 15px 30px;
}

.btn-contact:hover {
    background-color: #666; 
}
.social-icons {
    position: absolute;
    top: 30%;
    right: 10px; 
    /*transform: translateY(-50%);*/
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px;
}

.social-icon {
    margin-bottom: 40px; 
    }
.social-icon i {
    font-size: 40px; 
    color: white !important;
    transition: transform 0.3s ease;
}
.social-icon:hover i {
    transform: scale(1.2); /* Increase the size of the icon on hover */
}

/* Media query for small screens */
@media (max-width: 768px) {
    .navbar-nav{
        background-color: grey;
        align-items: center;
        opacity: 90%;
    }
    .hero-text {
        text-align: center; 
    }

    .social-icons {
        position: absolute;        
        margin-top: 80px;        
        bottom: 0px;
        top: 60%;
        align-items: center;
        flex-direction: inherit;
               
    }

    .social-icon {
        margin: 40px 20px; 
    }
}